h2 {
  font-family: 'Livvic';
  font-weight: bold;
  font-size: 2.5em;
}

.jumbotron {
  background-color: rgb(112, 103, 103);
  color: rgb(7, 0, 0);
}

.color {
  color: black;
  font-weight: bold;
  margin-left: 5px;
}

label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
