::ng-deep svg {
  width: 3.5em !important;
  height: 3.5em !important;
}

.main-div {
  .sub-div {
    display: inline-flex;
  }

  p {
    margin-top: 15px !important;
    font-family: 'PT Sans';
    font-weight: bold;
  }

  .nav-div {
    float: right
  }

  .navbar-expand .navbar-nav .nav-link {
    font-family: 'PT Sans';
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
