::ng-deep svg {
  width: 3.5em !important;
  height: 3.5em !important;
}

p {
  margin-top: 15px !important;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 3rem;
  padding-left: 3rem;
}
