.bgImage {
  padding-top: 10px;
  height: 100vh;
  color: black;
  background-image: url(../../../assets/images/home_bg_1.jpg);
  margin: 0 auto;

  .center-align {
    width: 50%;
    height: 100px;
    margin: 10% auto;

    .example-card {
      max-width: 250px;
    }

    .content {
      color: black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1em;
      text-align: center;
    }

    .color {
      color: black;
    }

    mat-card-title,
    mat-card-subtitle {
      font-family: 'Livvic' !important;
    }
  }

  .header {
    color: white;
    font-family: 'Livvic';
    font-size: 1.5em;
    text-align: center;
  }

  .margin-div {
    margin-left: 5px;
  }

  a {
    padding: 10% 5%;

    &:hover {
      text-decoration: none;
    }
  }
}
