<div class="mainDiv">
  <as-split direction="horizontal">
    <as-split-area size=60>
      <as-split direction="vertical">
        <as-split-area size=20>
          <div>
            <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
              <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption">
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="img" alt="My image {{i + 1}} description">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </as-split-area>
        <as-split-area size=80>
          <div class="subDiv">
            <h6>Welcome to CompanyX!</h6>
            <div class="left-div">
              <div class="div-width">
                <p> Already an admin? <strong>LOGIN.</strong></p>
                <p> No?? <strong>REGISTER !!!!</strong> </p>
              </div>
              <div class="div-margin">
                <fa-icon [icon]="faArrowCircleRight"></fa-icon>
              </div>
            </div>
          </div>
        </as-split-area>
      </as-split>

    </as-split-area>
    <as-split-area>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2">
              <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
              <div *ngIf="successMsg" class="alert alert-success">{{successMsg}}</div>

              <div>
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                      [ngClass]="{ 'is-invalid': submit && form.username.errors }" />
                    <div *ngIf="submit && form.username.errors" class="invalid-feedback">
                      <div *ngIf="form.username.errors.required" class="color">Username is required!</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submit && form.password.errors }" />
                    <div *ngIf="submit && form.password.errors" class="invalid-feedback">
                      <div *ngIf="form.password.errors.required" class="color">Password is required!</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" cz>
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Login
                    </button>
                    <a routerLink="/register" class="btn btn-link" class="color" (click)="register()">
                      Register</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </as-split-area>
  </as-split>

</div>
