::ng-deep .as-split-gutter {
  display: none !important;
}

h6,
h2 {
  font-family: 'Livvic';
  font-weight: bold;
  font-size: 2.5em;
}

p,
label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
