<div class="bgImage">
  <!-- <p>With great power, comes great responsibility!
            </p> -->
  <div class="blue-square">
    <a [routerLink]="['/home/analytics/status']" [queryParams]="{type: 'status'}" class="btn btn-link"
      style="color: black">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar style="margin-left: 5px;">
            <!-- <fa-icon mat-card-image [icon]="faTable"></fa-icon> -->
          </div>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>Aquired Companies</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p style="color: black">
            Which company has been acquired or is still in other stages of acquiring.
          </p>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/home/analytics/status']" [queryParams]="{type: 'year'}" class="btn btn-link"
      style="color: black">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar style="margin-left: 5px;">
            <!-- <fa-icon mat-card-image [icon]="faTable"></fa-icon> -->
          </div>
          <mat-card-title>Year</mat-card-title>
          <mat-card-subtitle>Acquisition Details</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p style="color: black">
            Contains details like which company was acquired when and for how much and so on.
          </p>
        </mat-card-content>
      </mat-card>
    </a>

  </div>


</div>

<app-sidebar></app-sidebar>
